<div>
    <ul>
        <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/about.html#contact">Kontakt</a></li>
        <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/about.html#map">Kde nás najdete</a></li>
        <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/sponsors.html">Sponzoři</a></li>
    </ul>
</div>
<div>
    Jedná se o školní projekt k předmětu KTPW1 2022/2023
</div>
<div class="copyright">
    Všechna práva vyhrazena 2023 © Adéla Špirková
</div>
