<ul>
    <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/index.html">Program</a></li>
    <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/movies.html">Filmy</a></li>
    <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/about.html">O nás</a></li>
    <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/blog.html">Blog</a></li>
    <li><a href="https://adspirkova.github.io/uhk-KTPW1-Cinema-projekt/pages/sponsors.html">Sponzoři</a></li>
</ul>